@model dotidentity.Models.ForgetPasswordModel

@{
    ViewData["Title"] = "Recuperar Senha";
}

<h2>Recuperar Senha</h2>

<div class="text-danger">
    @Html.ValidationSummary(true)
</div>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mt-4"></div>

    <button type="submit" class="btn btn-primary">Enviar Link de Recuperação</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
